101 RCDATA "xinn_processed_presets.bin"
102 RCDATA "auro_hp_ir.bin"
103 RCDATA "hpv2_bank.bin"
104 RCDATA "hpv2_am4hp_bank.bin"
105 RCDATA "xinn_am4hp_input_presets.bin"
106 RCDATA "hpv2_am4hp_5_0_2h_bank.bin"
107 RCDATA "hpv2_am4hp_preset3_bank.bin"
108 RCDATA "hpv2_am4hp_preset0_bank.bin"
109 RCDATA "hpv2_am4hp_preset1_bank.bin"
110 RCDATA "hpv2_am4hp_5_0_2h_preset3_bank.bin"
111 RCDATA "hpv2_am4hp_5_0_2h_preset0_bank.bin"
112 RCDATA "hpv2_am4hp_5_0_2h_preset1_bank.bin"
113 RCDATA "hpv2_ahp_32000_bank.bin"
114 RCDATA "hpv2_ahp_44100_bank.bin"
115 RCDATA "hpv2_ahp_88200_bank.bin"
116 RCDATA "hpv2_ahp_96000_bank.bin"
